In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('housing_price_dataset.csv')

In [4]:
data.shape[0]

50000

In [5]:
data.columns

Index(['SquareFeet', 'Bedrooms', 'Bathrooms', 'Neighborhood', 'YearBuilt',
       'Price'],
      dtype='object')

In [6]:
data.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [8]:
data = data.dropna()

In [12]:
data = data.drop_duplicates()

In [13]:
data.dtypes

SquareFeet        int64
Bedrooms          int64
Bathrooms         int64
Neighborhood     object
YearBuilt         int64
Price           float64
dtype: object

In [14]:
data['Neighborhood'].value_counts()

Neighborhood
Suburb    16721
Rural     16676
Urban     16603
Name: count, dtype: int64

In [16]:
data['Price'].min()

-36588.16539749279

In [17]:
data['Price'].max()

492195.2599720151

In [18]:
data['Price'].mean()

224827.32515099045

In [19]:
data['YearBuilt'].min()

1950

In [20]:
data['YearBuilt'].max()

2021